.idea/
Ryp.iml
target/
src/main/resources/application.properties
RateYourPeers.iml
.settings/
.project
.tern-project
src/main/resources/applicationprod.properties
src/main/resources/applicationtest.properties
